
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi oluşturduğumuz view Sayfasıdır</h3>
<table class="table table-hover">
    <tr class="table-info">
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Kaan</td>
        <td>Yazılım Geliştirme</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ali</td>
        <td>Analist</td>
        </td>
    </tr>
</table>
